@model Qualifica.Models.Especialidade

@{
    ViewData["Title"] = "Details";
    ViewBag.Especialidade = "active";
}


<div>
    <h4>Especialidade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
    <a asp-action="Index">Voltar para lista</a>
</div>
