
<div class="card mb-3 d-none" id="formulario">
    <div class="card-header">
        <h3><i class="fa fa-wpforms"></i> <span id="TituloFormulario">Incluir</span></h3>
    </div>

    <div class="card-body">

        <form onsubmit="salvarRegistro(this);">
            <input type="hidden" name="id" />
            <div class="row">
                <div class="col-md-4 mb-2">
                    <label for="validationServer01">Login</label>
                    <input name="login" type="text" class="form-control" placeholder="Login" required="required">
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="form-check dvAlterarSenha">
                <input type="checkbox" name="alterarSenha" class="form-check-input" checked="checked" onclick="exibirSenha(this);">
                <label class="form-check-label" for="exampleCheck1">Alterar Senha</label>
            </div>
            <div class="row dvSenha">
                <div class="col-md-2 mb-2">
                    <label for="validationServer02">Senha</label>
                    <input type="password" name="senha" class="form-control" placeholder="Senha">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-md-2 mb-2">
                    <label for="validationServer02">Confirme</label>
                    <input type="password" name="confirme" class="form-control" placeholder="Confirmação">
                    <div class="invalid-feedback"></div>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Enviar</button>
            <button class="btn btn-primary" type="button" onclick="fecharFormulario();">Fechar</button>
        </form>


    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <h3><i class="fa fa-table"></i> Usuários</h3>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table id="grid" class="table table-bordered table-hover display dataTable no-footer" role="grid" aria-describedby="example1_info"></table>
        </div>
    </div>

</div>

@section Scripts{

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        var grid;
        var url = "http://api.qualifica.pro.br/api/usuarios/";

        function removerRegistro(id) {
            if (!confirm("Deseja realmente remover este item?"))
                return;

            $.ajax({
                url: url + id,
                type: 'DELETE'
            }).done(atualizarGrid);
        }

        function resetarValidacao(form) {
            form.find(".is-invalid").removeClass("is-invalid");
            form.find(".invalid-feedback").html("");
        }

        function limparFormulario(form) {

            form.find("input").val("");

            resetarValidacao(form);
        }

        function salvarRegistro(form) {
            event.preventDefault();

            form = $(form);

            var valores = form.serializeArray();

            var objeto = {};
            $.each(valores, function (i, item) {
                objeto[item.name] = item.value;
            });

            var valido = validacao(form, objeto);

            if (valido) {
                if (objeto.id > 0 && !objeto.alterarSenha) {
                    var anterior = form.data("item");
                    objeto.senha = anterior.senha;
                }

                var metodo = "POST";
                var endereco = url;

                if (!objeto.id)
                    objeto.id = 0;

                if (objeto.id > 0) {
                    metodo = "PUT";
                    endereco += objeto.id;
                }

                $.ajax({
                    url: endereco,
                    type: metodo,
                    data: JSON.stringify(objeto),
                    contentType: 'application/json'
                })
                    .done(function () {
                        fecharFormulario();
                        atualizarGrid();
                    })
                    .fail(function (data) {
                        console.log(data);
                        alert(data.responseText);
                    });
            }
        }

        function validacao(form, entidade) {

            var valido = true;

            if (!entidade.login) {
                var controle = form.find("[name=login]");
                controle.addClass("is-invalid");
                controle.next(".invalid-feedback").html("Login deve ser informado");
                valido = false;
            }

            if (entidade.senha != entidade.confirme) {
                var senha = form.find("[name=senha]");
                var confirme = form.find("[name=confirme]");
                senha.addClass("is-invalid");
                confirme.addClass("is-invalid");
                confirme.next(".invalid-feedback").html("Senha deve ser igual a da confirmação");
                valido = false;
            }

            return valido;
        }

        function exibirSenha(checkbox) {
            checkbox = $(checkbox);
            var dvAlterarSenha = $(".dvSenha");

            if (checkbox.is(":checked"))
                dvAlterarSenha.show();
            else
                dvAlterarSenha.hide();

        }

        function abrirFormulario() {
            var container = $('#formulario');
            var form = container.find("form");
            limparFormulario(form);

            container.removeClass('d-none');

            return form;
        }

        function fecharFormulario() {

            var container = $('#formulario');
            var form = container.find("form");
            limparFormulario(form);

            container.addClass('d-none');
        }

        function incluirRegistro() {
            event.preventDefault();
            $("#TituloFormulario").html("Incluir");

            $(".dvAlterarSenha").hide();
            $(".dvSenha").show();

            abrirFormulario();
        }

        function editarRegistro(id) {
            event.preventDefault();
            $("#TituloFormulario").html("Editar");
            abrirFormulario();

            $("input[name=alterarSenha]").removeAttr("checked");

            $(".dvAlterarSenha").show();
            $(".dvSenha").hide();

            $.get(url + id).done(function (data) {
                var container = $('#formulario');
                var form = container.find("form");
                form.data("item", data);

                $.each(data, function (prop, valor) {

                    if (prop == "senha")
                        return;

                    form.find("[name=" + prop + "]").val(valor);
                });
            })
        }

        function atualizarGrid() {
            $.get(url)
                .done(function (data) {
                    grid.clear();
                    grid
                        .rows
                        .add(data)
                        .draw();
                });
        }

        $(document).ready(function () {

            $(".menu").removeClass("active");
            $(".usuarios").addClass("active");
            $(".controller").html("Usuários");

            grid = $('#grid').DataTable({
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false,
                "bAutoWidth": true,
                data: [],
                columns: [
                    {
                        title: "<a href=\"#\" onclick=\"incluirRegistro();\" title=\"Incluir\" class=\"fa fa-plus\">&nbsp;</a>",
                        data: "id",
                        width: "20px",
                        render: function (data, type) {
                            if (type === 'display') {

                                var editar = '<a href="#" title="Editar" onclick="editarRegistro(' + data + ');" class="fa fa-pencil">&nbsp;</a>';
                                var excluir = '<a href="#" title="Excluir" onclick="removerRegistro(' + data + ');" class="fa fa-remove">&nbsp;</a>';

                                data = editar + '&nbsp;' + excluir;
                            }

                            return data;
                        }
                    },
                    { title: "id", data: "id", width: "20px", },
                    { title: "Login", data: "login" }
                ],
                language: {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Nenhum registro encontrado",
                    "info": "Exibindo _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro encontrado",
                    "infoFiltered": "(Filtrado de _MAX_ registros)",
                    "search": "Busca:",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    }
                },
                pagingType: "numbers"
            });

            atualizarGrid();
        });
    </script>
}

